aside.wrapper-carousel
    menu.carousel
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis. 
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis.
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis.
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis.
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis.
        li.carousel-item
            figure
                figcartion
                    p.   
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Qui, dolor expedita ut harum quisquam reiciendis.