footer
    div.footer-logo
            a(href="#") lemon  
    div
        nav.menu.bottom-menu
            ul
                ol
                    a(href="#").nav-item home
                ol
                    a(href="#").nav-item recpes
                ol
                    a(href="#").nav-item photo galleries
                ol
                    a(href="#").nav-item videos
                ol
                    a(href="#").nav-item all categories
    div
        p &copy; 
            span 2016-2017 lemon all right reserved
        div
            i(class="fab fa-google-plus-g")
            i(class="fab fa-twitter")
            i(class="fab fa-facebook-f")
            i(class="fab fa-pinterest")