section.wrapper-header
    header
        aside.nav-group
            div.top-logo
                a(href="#") lemon
            nav
                ul.header-menu
                    ol
                        a(href="#").header-nav-item home
                    ol
                        a(href="#").header-nav-item recpes
                    ol
                        a(href="#").header-nav-item photo galleries
                    ol
                        a(href="#").header-nav-item videos
                    ol
                        a(href="#").header-nav-item all categories
            form.search
                input(type="text" placeholder="search")
                button(type="submit")    