section.wrapper-header
    header
        div.top-logo MoGo
        nav
            ul
                ol
                    a(href="#").nav-item about
                ol
                    a(href="#").nav-item service
                ol
                    a(href="#").nav-item work
                ol
                    a(href="#").nav-item blog
                ol
                    a(href="#").nav-item contact