section.wrapper-header
    header
        div.top-logo MoGo
        nav
            ul
                ol
                    a(href="#") about
                ol
                    a(href="#") service
                ol
                    a(href="#") work
                ol
                    a(href="#") blog
                ol
                    a(href="#") contact