section.wrapper-slider
    article.text-slider
        div.logo-slider
            a(href="#") lemon
        h3 Bananas Foster Ice Cream Cake
        p.text-slider.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        button get it recipe
