--grey       = #e0e0e0
--light-grey = #d8d8d8
--text-black = #202020
--text-red   = #5b0000
--text-green = #135b51

--o_black    = rgba(0, 0, 0, 0.75) 
--o_white    = rgba(255, 255, 255, 0.75)

fonts = Arial, Helvetica, sans-serif