@import 'base/_b-style.styl'
@import 'utilities/_utilities.styl'

body
  background: --grey
  margin:0
  padding: 0
  font-family: sans-serif
  color: --text-black

h3
  title-article(--text-red, 17px)

.nav-group
  display: flex;
  justify-content: space-around;
  align-items: center;

.header-menu
  menu(15px)

.header-nav-item
  menu-item(--text-black, --text-red)

.footer-menu
  menu(15px)

.footer-nav-item
  menu-item(white, --text-red)


