@import 'utilities/_utilities.styl'
@import 'base/_base.styl'
@import 'layout/_layout.styl'

.wrapper-header
  background: --o_white

.nav-group
  display: flex;
  justify-content: space-around;
  align-items: center;

.header-menu
  menu(15px)

.header-nav-item
  menu-item(--text-black, --text-red)

footer
  background: --o_black

.footer-menu
  menu(15px)

.footer-nav-item
  menu-item(white, --text-red)

.carousel-item
  list-style-type: none
  background: green


